h3 {
    color:maroon
}

h4 {
    color:black
}

body {
    font-family:serif
    color:navy
}
input {
    width:60
}

button {
   width: 20
   text-align: center
   font-weight:bold
}

h4 {
    color: maroon
}